{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="section py-5">
    <div class="sidebar">
  <h3>Categories</h3>
  <ul>
    <li><a href="{% url 'article_list' %}">All Categories</a></li>
    {% for category in categories %}
      <li>
        <a href="{% url 'category_articles' category.slug %}">
          {{ category.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
    <div class="container">
        {% for article in object_list %}
        <article class="col-lg-8 col-md-10 col-sm-12 mx-auto mb-3 mt-3">
            <div class="mb-3">
                {% if article.photo %}
                <div class="post-slider mb-3">
                    <img 
                        loading="lazy" 
                        src="{{ article.photo.url }}" 
                        class="img-fluid rounded" 
                        alt="{{ article.title }}">
                </div>
                {% endif %}
                <h3>
                    <a class="post-title text-decoration-none" href="{% url 'article_detail' article.pk %}">
                        {{ article.title }}
                    </a>
                </h3>
                <div class="d-flex align-items-center post-meta mb-3">
                    <div class="author-info me-4">
                        <i class="ti-user me-2 text-primary"></i>
                        <a href="#" class="text-decoration-none">{{ article.author|title }}</a>
                    </div>
                    <div class="date-info ml-2">
                        <i class="ti-calendar me-2 text-primary"></i>
                        <span class="text-muted">{{ article.date|date:"F j, Y" }}</span>
                    </div>
                </div>
                <p>{{ article.summary }}</p>
                <a href="{% url 'article_detail' article.pk %}" class="btn btn-outline-primary">
                    Continue Reading
                </a>
            </div>
        </article>
        {% empty %}
        <p class="text-center">No articles found.</p>
        {% endfor %}
    </div>
</main>
{% endblock %}
