{% extends 'base.html' %}

{% block title %}Postlar{% endblock title %}

{% block content %}
    <div class="row justify-content-center">
        {% for article in object_list %}
            <div class="col-md-8 mb-3">
                <div class="card">
                    <div class="card-header">
                        <span class="font-weight-bold">
                            <a href="{% url 'article_detail' article.pk %}"><h2>{{ article.title }}</h2></a>
                        </span>
                    </div>
                    {% if article.photo %}
                        <img class="card-img-top" src="{{ article.photo.url }}" alt="{{ article.title }}">
                    {% endif %}
                    <div class="card-body">
                        {{ article.summary|truncatewords:20 }}...<a href="{% url 'article_detail' article.pk %}">batafsil</a>
                    </div>
                    <div class="card-footer text-left text-muted">
                        <span class="text-muted">Muallif: {{ article.author|title }} &middot; {{ article.date|date:"F j, Y" }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}