{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mb-lg-0">
                {% for article in object_list %}  
                <article class="row mb-5">
                    <div class="col-12">
                        {% if article.photo %}
                        <div class="post-slider">
                            <img loading="lazy" src="{{ article.photo.url }}" class="img-fluid" alt="{{ article.title }}">
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-10 mx-auto">
                        <h3><a class="post-title" href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></h3>
                        <ul class="list-inline post-meta mb-4">
                            <li class="list-inline-item"><i class="ti-user mr-2"></i><a href="#">{{ article.author|title }}</a></li>
                            <li class="list-inline-item">Date : {{ article.date|date:"F j, Y" }}</li>
                        </ul>
                        <p>{{ article.summary }}</p>
                        <a href="{% url 'article_detail' article.pk %}" class="btn btn-outline-primary">Continue Reading</a>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}