{% extends 'base.html' %}
{% load comments crispy_forms_tags %}

{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                {% if object.photo %}
                    <img class="card-img-top" src="{{ object.photo.url }}" alt="{{ object.title }}">
                {% endif %}
                <h1 class="card-title">{{ object.title }}</h1>
                <h6 class="card-subtitle mb-2 text-muted">Muallif: {{ object.author }} | {{ object.date }}</h6>
                <p class="card-text">{{ object.body|safe }}</p>
                {% if user == object.author or user.is_superuser %}
                    <a href="{% url 'article_edit' object.pk %}">Tahrirlash</a> |
                    <a href="{% url 'article_delete' object.pk %}">O'chirish</a> |
                {% endif %}
                <a href="{% url 'article_list' %}">Barcha postlar</a>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">Izohlar</div>
            {% get_comment_list for object as comment_list %}
            {% for comment in comment_list %}
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{ comment.comment }}</p>
                        <footer class="blockquote-footer">{{ comment.user_name }} | {{ comment.submit_date }}</footer>
                    </blockquote>
                </div>
            {% empty %}
                <div class="card-body">
                    <p>Hali izohlar yo'q</p>
                </div>
            {% endfor %}
            <div class="card-footer">
                <form method="post" action="{% url 'comments-post-comment' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ article.get_absolute_url }}">  <!-- Redirect to article -->
                    {% get_comment_form for object as form %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}