{% load static %}

<footer class="section-sm pb-0 border-top border-default">
   <div class="container">
      <div class="row justify-content-between">
         <div class="col-md-3 mb-4">
            <a class="mb-4 d-block" href="{% url 'home' %}">
               <img class="img-fluid" width="150px" src="{% static 'images/logo.png' %}" alt="LogBook">
            </a>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
         </div>
         <div class="col-lg-2 col-md-3 col-6 mb-4">
            <h6 class="mb-4">Quick Links</h6>
            <ul class="list-unstyled footer-list">
               <li><a href="{% url 'about' %}">About</a></li>
               <li><a href="{% url 'contact' %}">Contact</a></li>
               <li><a href="{% url 'privacy-policy' %}">Privacy Policy</a></li>
               <li><a href="{% url 'terms-conditions' %}">Terms Conditions</a></li>
            </ul>
         </div>
         <div class="col-lg-2 col-md-3 col-6 mb-4">
            <h6 class="mb-4">Social Links</h6>
            <ul class="list-unstyled footer-list">
                   {% if social_links.facebook %}
                       <li><a href="{{ social_links.facebook }}" target="_blank">facebook</a></li>
                   {% endif %}

                   {% if social_links.linkedin %}
                       <li><a href="{{ social_links.linkedin }}" target="_blank">linkedin</a></li>
                   {% endif %}

                   {% if social_links.twitter %}
                       <li><a href="{{ social_links.twitter }}" target="_blank">twitter</a></li>
                   {% endif %}

                   {% if social_links.instagram %}
                       <li><a href="{{ social_links.instagram }}" target="_blank">instagram</a></li>
                   {% endif %}
            </ul>
         </div>
      </div>
      <div class="scroll-top">
         <a href="javascript:void(0);" id="scrollTop"><i class="ti-angle-up"></i></a>
      </div>
      <div class="text-center">
         <p class="content">&copy; {% now "Y" %} - Developed By <a href="https://t.me/Abdulloh_ID/" target="_blank">Abdulloh Abdusamadov</a></p>
      </div>
   </div>
</footer>