{% extends 'base.html' %}
{% block title %}Bosh sahifa{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
      Salom, {{ user.first_name }}!
      <form method="post" action="{% url 'logout' %}">{% csrf_token %}
          <button type="submit" class="btn btn-primary">Chiqib ketish</button>
      </form>
    {% else %}
      <p>Saytga kirmagansiz</p>
      <a href="{% url 'login' %}"><button type="button" class="btn btn-success">Kirish</button></a> |
      <a href="{% url 'signup' %}"><button type="button" class="btn btn-primary">Ro'yxatdan o'tish</button></a>
    {% endif %}
{% endblock content %}