{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mb-lg-0">
                {% for article in articles %}  
                <article class="row mb-5">
                    <div class="col-12">
                        {% if article.photo %}
                        <div class="post-slider">
                            <img loading="lazy" src="{{ article.photo.url }}" class="img-fluid" alt="{{ article.title }}">
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-10 mx-auto">
                        <h3><a class="post-title" href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></h3>
                        <ul class="list-inline post-meta mb-4">
                            <li class="list-inline-item"><i class="ti-user mr-2"></i><a href="#">{{ article.author|title }}</a></li>
                            <li class="list-inline-item">Date : {{ article.date|date:"F j, Y" }}</li>
                        </ul>
                        <p>{{ article.summary }}</p>
                        <a href="{% url 'article_detail' article.pk %}" class="btn btn-outline-primary">Continue Reading</a>
                    </div>
                </article>
                {% endfor %}

                <!-- Pagination -->
                {% if is_paginated %}
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1">&laquo; First</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                    </li>
                                {% endif %}

                                {% for num in page_obj.paginator.page_range %}
                                    {% if page_obj.number == num %}
                                        <li class="page-item active">
                                            <span class="page-link">{{ num }}</span>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}